{% extends  'parascopish/layout.html' %}
{% block content %}
    <h1>Welcome!</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {%for post in posts %}
                <div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.short_description|linebreaksbr }}</p>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}